/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-font-family: billabong;
    -fx-font-size: 12 px;
    }